 html,body{
    height:100%;
    padding:0;
    margin:0;
}
.backimg{
    width:1340px;
    height:1460px;
   } 
    
  .icon1 {
    width: 45px;
    position: absolute;
    top: 50px;
    left: 75px;
  }
  ul{
    list-style: none;
    background:orchid;
  }
  ul li{
    display:inline-block;
    position: relative;
  }
  ul li a{
    display:block;
    padding: 20px 25px;
    color:white;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
  }
   ul li ul.dropdown li {
    display:block;
   }
   ul li ul.dropdown{
    width:100%;
    background:#112C66;
    position: absolute;
    z-index:999;
    display:none;
   }
   ul li a:hover{
    background: #112C66;
   }
   ul li:hover ul.dropdown{
    display:block;
   }
  .border-1 {
    position: absolute;
    border-radius: 25px;
    width: 1200px;
    height: 1100px;
    background-color:white;
    top: 50px;
    left: 85px;
  } 
  

   /* .action{
    position:fixed;
    top:20px;
    right:30px;
   }
   .action .profile{
    position:relative;
    width:60px;
    height:60px;
    border-radius:50%;
    overflow: hidden;
    cursor: pointer;
   }
   .action .profile img
   {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
   } 
   .action .menu
   {
    position: absolute;
    top:80px;
    right:-10px;
    padding: 10px 20px;
    background: #fff;
    width:200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
   }
   .action .menu h3{
    width:100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    color:#555;
    line-height:1.2em;
   }
   .action .menu h3 span 
   {
    content: ;
    position: absolute;
    top:0;
    right:0;
    width:20px;
    height:20px; */

   
   .skill-logo-1{
    height:70px;
    width:70px;
    position: relative;
    left:30px;
    top:10px;
  }
  .head-1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    position: absolute;
    left: 100px;
    top:20px;
  }

  .box-2 {
    position: absolute;
    border-radius: 25px;
    width: 1100px;
    height: 250px;
    background-color: antiquewhite;
    top: 250px;
    left: 145px;
  }
  .img-resize-1{
    width:400px;
    border-radius: 25px;;
    position: absolute;
    left:700px;
    height:250px;
  }
  
  .heading-2 {
    position: absolute;
    bottom: 160px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 50px;
  }
  .p3 {
    color: grey;
    top:80px;
    position: absolute;
    bottom: 250px;
    left:55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .box-3 {
    position: absolute;
    border-radius: 25px;
    width: 1100px;
    height: 250px;
    background-color:darkturquoise;
    top: 280px;
    left: 10px;
  }
  .img-resize-2{
    width:400px;
    border-radius: 25px;;
    position: absolute;
    left:0px;
    height:250px;
  }
  
  .heading-3 {
    position: absolute;
    bottom: 160px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 625px;
  }
  .p4 {
    color: black;
    top:80px;
    position: absolute;
    bottom: 250px;
    left:625px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .box-4 {
    position: absolute;
    border-radius: 25px;
    width: 1100px;
    height: 250px;
    background-color:darkorange;
    top: 560px;
    left: 15px;

  }
  .img-resize-3{
    width:400px;
    border-radius: 25px;;
    position: absolute;
    left:700px;
    height:250px;
  }
  
  .heading-4 {
    position: absolute;
    bottom: 160px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 50px;
  }
  .p5 {
    color:black;
    top:80px;
    position: absolute;
    bottom: 250px;
    left:55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .btn-1{
    width:30px;
    height:30px;
    position: relative;
    bottom:100px;
    left:800px;
  } */

 .pro-file-logo{
  width:35px;
  height:30px;
 }
 .pro-file-logo-1{
  width:50px;
  height:50px;
 }
 .box-5{
  height:200px;
  width: 900px;
  background-color:aquamarine;
  border-radius: 30px;
  position: relative;
  top: 960px;
  left:70px ;
}
.heading-5{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  bottom:80px;
  left:140px;
}
.b3{
  width:200px;
  height: 50px;
  position: relative;
  top:135px;
  left:350px;
  background-color: deeppink;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: beige;
  border: 0;
}
.b3:hover
{
background-color: cadetblue;
transition: 0.7s;
}
.b3:focus{
outline-color: transparent;
outline-style:solid ;
box-shadow:black;
}
.b3:active{
background-color: salmon;
}