html,body{
    height:100%;
    padding:0;
    margin:0;
}
 .background-img{
  position: absolute;
  height:660px;
  width:1375px;
  
 }
.box-1 {
    position: relative;
    border-radius: 25px;
    width: 1200px;
    height: 600px;
    background-color:white;
    top: 40px;
    left: 85px;
  }
  .head-1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    position: absolute;
    left: 100px;
    top:20px;
  }
  .head-2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    position:absolute;
    top:80px;
    left:100px;
  }
  .p-1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    position:absolute;
    top:120px;
    left: 100px;
  }
  .input-1{
    width:450px;
    background:black;
    padding: 30px;
    box-shadow: 0px 10px 20px rgba(0,0, 0, 0.9);
    top:200px;
 }
 .images-1{
    position: absolute;
    bottom:30px;
    width:600px;
    left:600px;
 }
 /* .container{
  display: flex;
  position: relative;
  height: 300px;
  border-radius: 10px;
  width: 390px;
  top:280px;
  left:180px;
  background:pink;
  padding: 15px 10px;
 }
 form .user-details .input-box{
  width:calc(100% / 2-20px);
  justify-content: space-between;
 } */
 
 .container5{
  position: relative;
  position: absolute;
  margin-bottom: 50px;
  top: 250px;
  right:760px;
  padding: 50px 20px;
  height: 270px;
  width: 400px;
  background: white;
  border-radius:20px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.2);
  margin-bottom: 30px;
  margin-left: 50vh;
}

.container5 .inputBox
  {
    position: relative;
    width:300px;
    height: 46px;
    margin-bottom: 35px;
  }
  .container5 .inputBox:last-child
  {
     margin-bottom: 0;
  }
  .container5 .inputBox input
  {
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    border:1px solid #111;
    background: transparent;
    padding: 10px;
    border-radius: 4px;
    box-sizing:border-box;
    outline:none;
    font-size: 16px;
    color:#111;
    font-weight: 300;
  }
  .container5 .inputBox span
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
      position: absolute;
      top:1px;
      left:1px;
      padding: 10px;
      display:inline-block;
      font-size: 16px;
      color:#111;
      font-weight: 300;
      transition: 0.5s;
      pointer-events: none;
  }

  .container5 .inputBox input:focus ~ span,
  .container5 .inputBox input:valid ~ span
  {
    transform: translateY(-40px) translateX(-32px);
    font-size: 12px;
  }
  .container5 .inputBox input[type="submit"]
  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #2196f3;
    color:#fff;
    max-width: 120px;
    cursor: pointer;
    font-weight: 500;
  }
 .container5 .inputBox input[type="submit"]:hover
 {
  background:greenyellow;

 }
 .para-1{
  position: relative;
  right:10px;
  font:20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  bottom: 15px;
 }
 .cont{
  display:flex;
  position: relative;
  left:20px;
  bottom: 30px;
 }
  /* .cont .para-1{
  position: absolute;
  left:100px;
 }  */
 .link-add{
  position: relative;
  bottom:60px;
  left:150px;
  font:25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 .link-add-2{
  position: relative;
  bottom:89px;
  left:70px;
  font:25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
 