/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }*/

    body{
        margin: 0;
        padding: 0;
        height: 100vh;
        overflow-x: hidden;
        justify-self: center;
        align-items: center;
    }
    
    .navbar {
        width: 1290px;
        display:flex;
        height: 60px;
        background-color:white;
        overflow: hidden;
    }
    .web_name {
        margin-left: 95px;
    }
    
    .web_name h2{
        font-size: 28px;
        font-style: italic;
        font-family: "Cascadia Mono SemiBold";
        margin-top: 15px;
        color:cornflowerblue;
    }
    
     .sections{
        margin-left: 3%;
    }
    
    .sections a{
        float: left;
        display: block;
        text-align: center;
        margin-top: 18px;
        font-family:'Cascadia Code SemiLight' ;
        font-size: 19px;
        text-decoration: none;
        color: black;
        padding:5px 8px;
    }
    
    .sections a:hover{
       color:white;
       background-color: darkgreen;
    }
    
    .sections a:active{
        background-color:green;
    }
    
    .image_logo{
        position: absolute;
        height: auto;
        left: 30px;
        width: 60px;
    }
    
    /* .sec{
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }*/
    
    .slider{
        width:1300px;  /*1800px*/
        height:520px;  
        overflow: hidden; 
    }
    .slide{
        width: 500%;   /*1300px*/
        height: 500px;   /*600px*/
        display: flex;
    }
    
    .slide input{
        display: none;
    }
    
    .imagg{
        width: 20%;
        transition: 2s;
    }
    
    .imagg img{
        width:1300px;   /*1800*/
        height: 520px;
    }
    
    .nav-m{
        position: absolute;
        width: 1300px;
        margin-top: -5px;
        justify-content: center;
        display: flex;
    }
    
    .m-b{
        border: 1px solid teal;
        padding: 3px;
        border-radius: 7px;
        cursor: pointer;
        transition: 1s;
    }
    
    .m-b:not(:last-child){
        margin-right: 25px;
    }
    
    .m-b:hover{
        background: white;
    }
    
    #first:checked ~ .one{
        margin-left: 0; 
    }
    
    #second:checked ~ .one{
        margin-left: -20%; 
    }
    #third:checked ~ .one{
        margin-left: -40%; 
    }
    
    .nav-auto{
        position: absolute;
        width: 1300px;
        margin-top: 495px;
        display: flex;
        justify-content: center;
    }
    
    .nav-auto div{
        border: 1px solid teal;
        padding: 3px;
        border-radius: 7px;
        transition: 1s;
    }
    
    .nav-auto div:not(:last-child){
        margin-right: 25px;
    
    }
    
    #first:checked ~ .nav-auto .auto-btnn1{
        background: white;
    }
    
    #second:checked ~ .nav-auto .auto-btnn2{
        background: white;
    }
    #third:checked ~ .nav-auto .auto-btnn3{
        background: white;
    }
    
    .imagg{
        position: relative;
    }
    
    .text-block{
        margin-left: 25px;
        position: absolute;
        top:80px;
        background-color: black;
        color: white;
        padding: 30px;
        opacity: .6;
        border-radius: 10px;
        border-color: black;
    }
    
    .text-block-img2{
        margin-left: 25px;
        position: absolute;
        top:80px;
        background-color: black;
        color: white;
        padding: 20px;
        opacity: .6;
        border-radius: 10px;
        border-color: black;
        width: 520px;
        text-align: center;
    }
    
    .text-block-img2 p{
        font-size: 18px;
    }
    
    p{
        font-size: 17px;
    }
    
    
    form.search{
        margin-left: 10%;
        margin-top: 15px;
        align-self: center;
        width: 35%;
    }
    
    form.search input{
        border-radius: 1px;
        padding: 2px;
        font-size: 15px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
    }
    
    form.search button {
        border-radius: 1px;
    height: 23.6px;
    float: left;
    width: 12%;
    background: #2196F3;
    color: white;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    }
    
    form.search button:hover {
    background: #0b7dda;
    }
    
    form.search input:focus{
        outline: whitesmoke;
    }
    
    .text-block h4{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .bottom_pg{
        width: 1300px;
        display:flex;
        background-color:#a6a6a6;
        color: white;
        
    }
    
    .bottom_pg h3{
        margin-top: 40px;
     margin-left: 20px;
    }
    
    .bottom_pg p{
        margin-top: 40px;
        cursor: pointer;
        font-size: medium;
        margin-left: 20px;
    }
    
    .bottom_pg a{
        color: white;
        text-decoration: none;
    }
    
    .linkedin_photo{
        height: auto;
        width: 15px;
    }
    
    .facebook_photo{
        height: auto;
        width: 15px;
    }
    
    .time_photo{
        width: 50px;
    }
    
    .skill{
        width: 1300px;
        display: flex;
        background-color: #a6a6a6;
        color: white;
    }
    
    .skill p{
        margin-bottom: 30px;
        margin-left: 550px;
        color: white;
        text-decoration: none;  
    }