html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
   /* overflow-x:hidden;*/
   }
   .backimg{
    width:1347px;
   }
.icon1 {
  width: 45px;
  position: absolute;
  top: 50px;
  left: 75px;
}
.heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-size: 300%;
  position: absolute;
  top: 10px;
  left: 130px;
}
.b1 {
  border: 0;
  position: absolute;
  top: 58px;
  width: 180px;
  height: 40px;
  border-radius: 40px;
  left: 1100px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 100%;
  /*box-shadow: 0px 0px 2px 2px rgb(0,0,0);*/
}
.b1:hover
{
  background-color: cadetblue;
  transition: 0.7s;
}
.b1:focus{
  outline-color: transparent;
  outline-style:solid ;
  box-shadow:black;
}
.b1:active{
  background-color: salmon;
}
.p1 {
  position: relative;
  bottom: 600px;
  left: 60px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 200%;
  font-weight: bold;
}

.p2 {
  position: relative;
  bottom: 600px;
  left: 60px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 120%;
  font-weight: 100;
  color: grey;
}
 
.b2 {
  border: 0;
  position: relative;
  bottom: 520px;
  left: 70px;
  width: 250px;
  height: 50px;
  border-radius: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: deeppink;
  color: white;
  font-weight: bold;
}
.b2:hover
{
  background-color:cadetblue;
  transition: 0.7s;
}
.b2:focus{
  outline-color: transparent;
  outline-style:solid ;
  box-shadow:black;
}
.b2:active{
  background-color: salmon;
}

.img-2 {
  position: relative;
  left: 40%;
  bottom: 930px;
}

.box-2 {
  position: absolute;
  border-radius: 25px;
  width: 1200px;
  height: 500px;
  background-color: antiquewhite;
  top: 870px;
  left: 75px;
}
.heading-2 {
  position: absolute;
  bottom: 350px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  left: 50px;
}
.p3 {
  color: grey;
  position: absolute;
  bottom: 250px;
  left:60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img-resize-1 {
  position: absolute;
  border-radius: 25px;
  left: 530px;
  bottom: 0px;
  height: 500px;
}

.box-3 {
  position: absolute;
  border-radius: 25px;
  width: 1200px;
  height: 500px;
  background-color: lightblue;
  top: 570px;
  left: 5px;
}
.heading-3 {
  position: absolute;
  bottom: 350px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  right: 50px;
}
.p4 {
  color: grey;
  position: absolute;
  bottom: 250px;
  right: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img-resize-2 {
  position: absolute;
  border-radius: 25px;
  right: 530px;
  bottom: 0px;
  height: 500px;
}

.box-4 {
    position: absolute;
    border-radius: 25px;
    width: 1200px;
    height: 500px;
    background-color:lightgoldenrodyellow;
    top: 1140px;
    left: 5px;
  }
  .heading-4 {
    position: absolute;
    bottom: 350px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 50px;
  }
  .p5 {
    color: grey;
    position: absolute;
    bottom: 250px;
    left: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .img-resize-3 {
    position: absolute;
    border-radius: 25px;
    left: 530px;
    bottom: 0px;
    height: 500px;
  }

  .box-5{
    height:200px;
    width: 900px;
    background-color:aliceblue;
    border-radius: 30px;
    position: relative;
    top: 900px;
    left:210px ;
  }
 .heading-5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    bottom:80px;
    left:140px;
 }
 .b3{
    width:200px;
    height: 50px;
    position: relative;
    top:135px;
    left:350px;
    background-color: deeppink;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: beige;
    border: 0;
 }
 .b3:hover
{
  background-color: cadetblue;
  transition: 0.7s;
}
.b3:focus{
  outline-color: transparent;
  outline-style:solid ;
  box-shadow:black;
}
.b3:active{
  background-color: salmon;
}

 .footer{
  width:1350px;
  height:400px;
  background-color:darkturquoise;
  position: relative;
  top:950px;
  left:0px;
 }
 .icon2{
  width: 45px;
  position: absolute;
  top: 2960px;
  left: 200px;
 }
 .heading-6{
  position:absolute ;
  top:2940px;
  left:255px;
  color:white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.ul-1{
  position:absolute;
  top:3000px;
  left: 220px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
   list-style: none;
}
/* .ul-1:hover
{
  background-color:grey;
  transition: 0.7s;
}
.u1:focus{
  outline-color: transparent;
  outline-style:solid ;
  box-shadow:black;
}
.b1:active{
  background-color: salmon;
} */

.ul-2{
  list-style: none;
  position:absolute;
  top:3000px;
  left: 470px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
}
.ul-3{
  list-style: none;
  position:absolute;
  top:3000px;
  left: 650px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
}

.icons
{
  width: 35px;
  position: absolute;
  top: 3000px;
  left: 1000px;
}
.twitter{
  position:relative;
  left:65px;
  bottom:38px;
}
.instagram{
  position:relative;
  left:130px;
  bottom:78px;
}
.p-7{
  position: relative;
  top: 800px;
  left: 900px;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
